@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@900&family=Open+Sans:ital,wght@1,700&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

body {
    margin:0px;
    background-color: #f9f9f9;
    
}
.navbar{
    background: #02161f;
    border-bottom: 0.5px solid #666;
    height: 62px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: 0px 0px 0px 0px;
}
.logo{
    float: left;
    padding-top: 16px;
    color: #269ed2;
    margin-left: 20px;
}

.nav{
    float: right;
    padding-top: 16px;
    font-size: 20px;
}

img{
    height: 30px;
}

#logo{
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
#logo a {
    align-items: center;
    display: flex;
    height: 60px;
}
figure{
    display: flex;
    left: 0;
    max-height: none;
    position: relative;
    right: 0;
    top: 0;
}
h1{
    color: #fff;
    padding: 0 20px;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 25px;
}

.image{
    background-image: url(https://encyclopedia.ushmm.org/images/large/779d6bbc-6987-4d11-a97a-56ebc2aa47fe.jpg.pagespeed.ce.sxVgQBm7-t.jpg);
    overflow: hidden;
    position: relative;
}

.campo{
    width: 50%;
    height: 50%;
    margin: 0;
}
label{
    text-transform: uppercase;
}
figure img{
    opacity: .5;
    height: 80%;
    width: 100%;
}
.title {
    background: #000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    
}

.title figure img {
    height: 680px;
    opacity: .5;
    width: 100%;
}
.title label {
    display: flex;
    height: 100%;
    left: 0;
    max-height: none;
    position: relative;
    right: 0;
    top: 0;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: Sans-serif;
    ;
}
.content-img {
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.title-text{
    display: flex;
    justify-content: center;

}
.title figure .image-center img, .title figure img {
    -o-object-fit: cover;
    object-fit: cover;
}
.title .title-text {
    position: relative;
}
.box{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 500px;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1300px;
    padding: 2em 0 3.5em;
    position: relative;
}
#image{
    position: relative;
    opacity: .3;
    box-shadow: 10px 5px 5px black;
    border: 0;
}
#text {
    position: absolute;
    font-size: 50px;
    left: 81px;
    top: 250px;
    color: white;
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-shadow: 5px 5px 10px black;

}

.title figure ::after{
    bottom: 0;
    box-shadow: inset 0 -50px 3000px 1px #000;
    color: transparent;
    content: "";
    left: -80;
    position: absolute;
    right: 0;
    top: -300;
}
::after, ::before{
    box-sizing: border-box;
}
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  
*, :after, :before {
    box-sizing: border-box;
}
/* texto*/
.text{
    width: 100%;
    height: 100%;
}

.tool-bar ul li {
    display: block;
    margin: 0 0 20px;
    width: 110px;
}
#story-text{
    max-width: 800px;
    padding-right: 6em;
    width: 100%;
    margin-top: -20px;
}
h2{
    font-weight: 400;
    font-size: 2.8em;
    letter-spacing: 0;
    font-family: 'Inter Tight', sans-serif;
}
strong{
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}
p{
    font-family: sans-serif;
    font-size: 17px;
    margin-top: -11px;
}
.narrative{
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    clear: left;
    min-height: 300px;
    padding: 6px;
    margin-top: 30px;
}
.narrative img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
.narrative h4 a {
    color: #02161f;
    font-family: 'Abyssinica SIL', serif;
    word-spacing: -5px;
    text-transform: none;
    font-size: 15px;
}
.narrative-half{
    float: left;
    margin-right: 1em;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    clear: left;
    min-height: 300px;
    padding: 4px;
}
.narrative-half img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 80%;
}

.legenda{
    color: #666;
    padding: 1px 5px;
    margin-top: 15px;
}
.legenda p {
    font-family: sans-serif;
    font-size: .7em;
}
/*aside*/
#temas{
    max-width: 370px;
}
.relations {
    margin: 0 0 4em;
    
}
.relations h4 {
    margin-bottom: 6px;
}
.r-item {
    box-sizing: content-box;
    margin-bottom: 1.5em;
    text-align: center;
}
.r-item figure {
    background-color: #02161f;
    border: 1px sold #02161f;
    position: relative;
}
.r-item a{
    align-items: center;
    display: flex;
    height: 150px;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
}
.r-item a h5.thumb{
    color: #fff;
    position: relative;
    width: 100%;
}
a{
    color: #02161f;
    position: relative;
}
figure{
    margin: 0;
}
.r-item figure h5 {
    font-size: 1.4em;
    margin: 0;
    padding: 20px 5px;
}
.r-item figure h5 i {
    display: block;
    margin: 0 auto 3px;
    text-align: center;
}
.r-item figure h5 span.tipo {
    border-bottom: 1px solid #fff;
    display: block;
    font-size: 10px;
    margin: 0 auto 8px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
}
.film::before{
    content: "";
}
h4{
    font-family: 'Zilla Slab', serif;;
    font-size: 1.55em;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    padding: 1px 5px;
}
.titulo{
    font-family: 'Abyssinica SIL', serif;

}
